.wrap{
	border-style: solid;
	border-color: black;
	background: lightgreen;
	width: auto;
	margin: auto;
}
 
/*bagian header*/
.wrap .header{
	background: lightgreen;
	/*height: 50px;*/
	padding: 2px 10px;
	
}
 
/*akhir header*/
 
/*bagian menu*/
/*.wrap .menu{
	background: blue;
}*/
 
.wrap .menu ul{
	border-style: solid;
	border-color: lightblue;
	padding: 0;
	margin: 0;
	background: gray;
	overflow: auto;
}
 
.wrap .menu ul li{
	list-style-type: none;
	padding: 10px;
	display: inline;
	float: left;
	border-right: 1px solid blue;
}
/*akhir menu*/
 
.clear{
	clear: both;
}
 
.badan{
	height: 450px;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
	background: yellow;
	float: left;	
	width: 25%;
	height: 100%;
}
 
/*akhir sidebar*/
 
.wrap .badan .content{
	background: white;
	float: left;
	height: 100%;
	width: 75%;	
}
 
.wrap .footer{
	border-style: solid;
	border-color: lightblue;
	text-align:center;
	width: auto;
	padding: 10px;
}